*,::after,::before
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    padding: 100px;
    background: lightblue;
}

.levus-parallax-wrapper
{
    width: 1200px;
    margin: auto;
    background: lightpink;
}

@media(max-width: 1240px)
{
    .levus-parallax-wrapper
    {
        width: 95%;
    }
}

.levus-parallax
{
    height: 300px;
    position: relative;
    overflow: hidden;
}

.levus-parallax h1
{
    position: absolute;
    top: calc(50% - 12px);
    z-index: 3;
    text-align: center;
    width: 100%;
}

.levus-parallax picture
{
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    transition: .1s;
}

.levus-parallax picture img
{
    object-fit: cover;
    object-fit: contain;
}